.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.container {
	width: 600px;
	height: 600px;
	display: flexbox;
	align-items: center;
	justify-content: center;
	background-color: red;
}
.box {
	/* flex-grow: inherit;
	flex-shrink: inherit; */
	position: absolute;
	width: 90%;
	height: 90%;
	display: flexbox;
}
#box1 {
	background-color: blue;
	width: 300px;
}
#box2 {
	background-color: yellow;
	width: 200px;
}
#box3 {
	background-color: orange;
	width: 100px;
}
